/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
ul{
  list-style-type:none;
}
code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-bottom-sheet-container {

  padding: 0 16px !important;
}
@media (min-width: 960px){
  .mat-bottom-sheet-container {
    right: 0;
    position: absolute;
    bottom: 0;
    max-height: 100Vh !important;
    height: 100%;
    padding: 0 16px;
  }
}
